{:source-paths ["src"]
 :dev-http {8000 "public"}
 :builds {:browser {:target :browser
                    :modules {:main {:entries [shadow.barcode.main]
                                     :prepend "function shadow_esm_import(name) { return import(name) }"}}}}
 :compiler-options {:output-feature-set :es-next}}
